.navbar {
	min-height: 0;
}
.navbar-inverse {
	background-color: #445;
	border-color: #334;
}
.navbar-inverse .navbar-brand {
	color: #ccc;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #334;
}
.navbar-collapse {
	padding: 0;
}
.navbar .nav > li > a {
    padding: 8px 30px;
}

.table-tasks-projects {
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
}
	.table-tasks-projects thead {
		/*background-color: beige;*/
		/*background-color: #f5f5f5;*/
		background-color: #eeeef5;
		font-size: 0.9em;
		font-weight: normal;
	}
		.table-tasks-projects thead tr th {
			font-weight: normal;
		}
		.table-tasks-projects thead th:first-child {
			border-radius: 4px 0 0 0;
		}
		.table-tasks-projects thead th:last-child {
			border-radius: 0 4px 0 0;
		}
	.table-tasks-projects tbody {}
		.table-tasks-projects tbody tr {
			cursor: pointer;
		}
			.table-tasks-projects tbody tr td.date {
				font-size: 0.9em;
				vertical-align: middle;
			}
			.table-tasks-projects tbody tr td.description {
				color: #666;
			}
.btn {
	margin-right: 10px;
}
